/**     Estilos    **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
	color: inherit;

    &:hover {
        color: inherit
    }
}   

ul {
    list-style: none;
}

::selection {
    color: white;
    background-color: color-danger;
}



body{
    background-color:black;
}

img {
    width: 100%;
    height: auto;
}

.form-control:focus {
    border: solid 1px color-primary-focus;
    box-shadow: color-primary-focus 0px 0px 15px;
}

.flexFullCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**FOOTER**/

.footer {
    margin: 30px; }
  
  .footer .row a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 30mms ease; }
  
  .footer img {
    max-width: 300px;
     }
  
  .footer h5 {
    text-align: center;
    margin: 20px;
    font-size: small; }

    
  
  .footer .row a:hover {
    color: darkred; }




    

/**Requisitos**/

.mainrequisitos{
    
    color: white;
    padding: 10px;
    background-image: url(../assets/images/banner-3.jpg);
     

}




.mainrequisitos {
    h2{
        color: white;
        padding: 2px;
        text-align: center;
    }

    hr{
        color: white;
    }

    ul{
        li{
            color: white;
            padding: 2px
        }
        }
    }


